
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <script type="text/javascript" nonce="718d836904184a4bb89ca7273fb" src="//local.adguard.org?ts=1671269800891&amp;type=content-script&amp;dmn=att-c.udemycdn.com&amp;pth=%2F2022-01-07_17-09-21-9ea044c936c10d7d0d39cb9555eb177f%2Foriginal.html%3Fresponse-content-disposition%3Dattachment%253B%2Bfilename%253Dadd-product.html%26Expires%3D1671302210%26Signature%3DibYS-WP0PEe4WdxOL3jodPaKYTLEYzmsjMSL9Uot8l9J6IV-AONQQXMSjokH8n3a1syOgI6BkGV2Tyk60nS7RLYsW6gIC6B2ZSoK1BAp~NhgMYv17FqwulxbS7Qf5E2KzYN591tJyq9KJJEnjIeaFxsvk2GREujDAZNJdLprPKsn6VtESSS~X771cKTkFCok0DHllHiwO2jTC90tFfNNMSdJmhPmZ5pYBKiW15FzBI4uNgr9NFWIdIdAIxw9KEHBb5BwSqVbfUXUV~4sWZ6VfC-OGXwRAEPXLT9LDPYaDgf1CJ7ohBF7ZDWMmNs6QO-bVo5HtXhv6hFSoWjZAkxqzQ__%26Key-Pair-Id%3DAPKAITJV77WS5ZT7262A&amp;app=chrome.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
    <script type="text/javascript" nonce="718d836904184a4bb89ca7273fb" src="//local.adguard.org?ts=1671269800891&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Popup%20Blocker&amp;type=user-script"></script></head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>

<main>
    <form action="/add-product" method="POST">
        <input type="text" name="title">
        <button type="submit">Add Product</button>
    </form>
</main>
</body>

</html>