<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <script type="text/javascript" nonce="718d836904184a4bb89ca7273fb" src="//local.adguard.org?ts=1671269800891&amp;type=content-script&amp;dmn=att-c.udemycdn.com&amp;pth=%2F2022-01-07_17-09-22-f80699fd5bc9dcd121986b12b73e9dc8%2Foriginal.html%3Fresponse-content-disposition%3Dattachment%253B%2Bfilename%253Dshop.html%26Expires%3D1671302259%26Signature%3DgunUeg93~Mss4lfhNB1B9tjXdKERN7UBpCD3mDwJ~AP5OPmmNUDiuiveQQQwo~l~weLvzVReHzca5QtF5-XoR6EUXjTdLtEISI043KEUFBsVJIIgsVDgrQ21sRDNy-58B5tei~fxfunNIcznFx9qr6rZ1EIuELZzSzOOC2XnErLls5geVupVMij5t0S0GQdouhDw8nal7E5E7B-AsfThk2Ad8suJ0YH53E-8jMbGr~RTXKoRtHrDiou6t3rIuTUycO6ApmCXe4pcFiI7v6sdt-FfMTRoHG67Wy9Uf7s5N1ikNuqsDXc-GahLld~DOdOYHJKsn1Abg9V-Lf~kaW1FaA__%26Key-Pair-Id%3DAPKAITJV77WS5ZT7262A&amp;app=chrome.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>
    <script type="text/javascript" nonce="718d836904184a4bb89ca7273fb" src="//local.adguard.org?ts=1671269800891&amp;name=AdGuard%20Extra&amp;name=AdGuard%20Popup%20Blocker&amp;type=user-script"></script></head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/admin/add-product">Add Product</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>My Products</h1>
    <p>List of all the products...</p>
</main>
</body>

</html>